/* rSmart overrides */
.s3d-widget-container .s3d-contentpage-title:hover {
  cursor: pointer;
}

.s3d-dropdown-menu ul li button {
  text-decoration: none;
  display: block;
  padding: 5px 6px;
}

.s3d-dropdown-menu ul li:hover button {
  color: #f3f3f3;
}

.s3d-dropdown-menu ul li button {
  color: #2683bc;
  font-size: 12px;
}

.s3d-button.s3d-overlay-button.no-pad {
  margin-top: -9px;
}

.s3d-button.s3d-overlay-button.grey {
  color: #666;
}

/* ACAD-932 Fix the line-height of the paragraphs inside TinyMCE */
.sakaidocs_widget #s3d-page-container p,
.sakaidocs_widget #s3d-page-container p span,
.mceContentBody p,
.mceContentBody p span {
    line-height: 1.2em;
}

/* overrides for sakai.create_new_account.css */
label.required {
  background-image: url("/dev/images/required.png");
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 15px;
}

#signup_form_container .signup_form_column select {
  border: 1px solid #e0e1e2;
  height: 23px;
  width: 216px;
  color: #333;
}

.signup_form_error {
  border: 3px solid #ffba00 !important;
  margin-bottom: 5px !important;
}

label.signup_form_error_label {
  margin: 28px 8px 9px 0px !important;
}

.captcha_container {
  margin: 20px 0 0 20px;
}

#signup_institution_header {
  float: left;
  width: 100%;
  margin-top: 25px;
}

.recaptchatable {
  float: none;
}

#save_account {
  margin: 20px;
}

/* Overrides for footer.css */
#footer_logo {
  background-image: url('/dev/skins/rsmart/images/footer_logo_rsmart.png') !important;
  width: 110px !important;
  height: 40px !important;
}

#footer_links {
  margin-top:12px;
}

/* Overrides for institutionalskinning.css */
.institutionalskinning_widget #institutionalskinning_logo {
  background-image: url('/dev/skins/rsmart/images/rsmart_liberate_learning.png') !important;
}

/* Overrides for sitespages.css */
.groupWrapper {
  min-height: 40px;
}

/* Overrides and extras for topnavigation.css */
.topnavigation_help {
  margin: 0;
  float: right;
  margin: 0;
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: inherit;
}

.topnavigation_user_options_login_sign_in_error_margin input {
  border: none !important;
}

.topnavigation_user_options_login_sign_in_error_margin input.login-container-textfield {
  border: 2px solid #FFBA00 !important;
}

.topnavigation_help a {
  display: block;
  padding: 7px 25px 10px;
  color: #fff;
  text-decoration: none;
}

/* rSmart skin for full-width pages */
.rsmart-full-width .fixed-container.s3d-main-container {
  width: auto;
  display: table;
}

.rsmart-full-width .s3d-twocolumn {
  overflow: hidden;
  min-width: 960px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.rsmart-full-width .s3d-page-fullcolumn-padding {
  width: auto;
  min-width: 920px;
}

.rsmart-full-width .s3d-container-shadow-right,
.rsmart-full-width .s3d-container-shadow-left {
  z-index: -1;
}

.rsmart-full-width .fl-container-flex {
  display: table;
}

.rsmart-full-width .s3d-page-column-right {
  width: auto;
  min-width: 773px;
  margin-left: 190px;
}

.rsmart-full-width .s3d-page-column-left {
  position: absolute;
}

.rsmart-full-width #group_create_new_area_container {
  position: relative;
}

.rsmart-full-width .addarea_widget .addarea_dropdown_content {
  margin-top: 42px;
}

.rsmart-full-width #entity_container #entity_group_image.entity_change_avatar .s3d-dropdown-list {
  z-index:1;
}
